@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a[href]:hover {
    @apply lg:text-orange-600;
    @apply text-orange-600;
  }

  .selectedLink {
    @apply bg-orange-700;
    @apply lg:bg-transparent;
    @apply text-white;
    @apply rounded;
    @apply lg:text-orange-700;
  }

  a[href].selectedLink:hover {
    @apply text-white;
    @apply lg:text-orange-600;
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply text-slate-800;
    @apply text-center;
    @apply mb-4;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply text-slate-800;
    @apply text-center;
    @apply mb-2
  }

  #getStarted:hover {
    @apply text-slate-800;
    @apply bg-orange-600;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
