---
layout: layout.njk
title: Wellspring Home Services | 404 Not Found
permalink: 404.html
---
<main class="bg-orange-500 pb-8 pt-8 px-2">
  <!--mt-4-->
  <div class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
    <h1 class="text-[100px] my-12">404</h1>
    <h1 class="mt-2">Oops! Page not found.</h1>
    <h2 class="mb-4">Try checking out one of our more interesting pages:</h2>
    <ul class="flex flex-wrap justify-center space-x-4 text-xl font-semibold text-gray-800">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/testimonials">Testimonials</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</main>