---
layout: layout.njk
title: Wellspring Home Services | About
eleventyNavigation:
  key: About
  url: /about/
  order: 1
---

<section class="bg-orange-500 pb-8 pt-8 mt-4 px-2">
  <div class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
    <h1 class="mt-2">About Wellspring</h1>
    <article class="xl:mb-14 mb-2 relative overflow-auto">
      <h2 class="mt-2">Our Story</h2>
      <div class="sm:float-right ml-0 mb-4 sm:mb-0 sm:ml-6 mt-4 sm:mt-2">
        <div class="relative w-auto sm:w-72">
          {# w-56 #}
          <img
            {#
            class="xsImage mx-auto p-2 h-52"
            #}
            class="object-cover rounded-lg"
            src="../images/team-members/original-3-close-up.jpeg"
            alt="Team photo"
          />
        </div>
      </div>
      <div class="text-justify">
        <p class="text-gray-800">
          Wellspring began in 2015 ... Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vestibulum finibus orci ac vehicula luctus. Integer
          vel auctor lorem. Fusce molestie metus nisl, vitae suscipit sem
          vulputate ornare. Vivamus eu vehicula metus. Mauris dapibus augue
          orci, vel ornare ligula tempus vel. Proin vehicula ut massa eu
          tincidunt. Cras vitae nulla et est feugiat laoreet at a eros. Aenean
          sed massa quis erat blandit interdum. Cras consectetur elit et congue
          commodo. Fusce vel augue non ligula aliquam pulvinar ac a sapien.
          Aenean sagittis magna in urna venenatis, vel ullamcorper massa
          sagittis. Mauris ac lacus consequat, dictum nisl pulvinar, tempor
          purus.
        </p>
        <p class="text-gray-800 mt-2">
          Vestibulum finibus orci ac vehicula luctus. Integer vel auctor lorem.
          Fusce molestie metus nisl, vitae suscipit sem vulputate ornare.
          Vivamus eu vehicula metus.
        </p>
      </div>
    </article>
    <article class="xl:mb-14 mb-2">
      <h2 class="mt-2">Meet the Team</h2>
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-4 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            {# w-56 #}
            <img
              {#
              class="xsImage mx-auto p-2 h-52"
              #}
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/IMG_5999.JPG"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">
            Brett Costigan
          </h3>
          <h4 class="text-gray-500 text-lg italic">Founder & CEO</h4>
          <p class="text-gray-800">
            Vestibulum finibus orci ac vehicula luctus. Integer vel auctor
            lorem. Fusce molestie metus nisl, vitae suscipit sem vulputate
            ornare. Vivamus eu vehicula metus. Integer vel auctor lorem. Fusce
            molestie metus nisl, vitae suscipit sem vulputate ornare. Vivamus eu
            vehicula metus.
          </p>
        </div>
      </div>
      <hr class="mt-4 mb-2" />
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-6 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            {# w-56 #}
            <img
              {#
              class="xsImage mx-auto p-2 h-52"
              #}
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/IMG_5999.JPG"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">Zach Bush</h3>
          <h4 class="text-gray-500 text-lg italic">
            Construction Project Manager
          </h4>
          <p class="text-gray-800">
            Vestibulum finibus orci ac vehicula luctus. Integer vel auctor
            lorem. Fusce molestie metus nisl, vitae suscipit sem vulputate
            ornare. Vivamus eu vehicula metus. Integer vel auctor lorem. Fusce
            molestie metus nisl, vitae suscipit sem vulputate ornare. Vivamus eu
            vehicula metus.
          </p>
        </div>
      </div>
      <hr class="mt-4 mb-2" />
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-6 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            {# w-56 #}
            <img
              {#
              class="xsImage mx-auto p-2 h-52" aspect-square
              #}
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/IMG_2855.jpeg"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">Jordan Cox</h3>
          <h4 class="text-gray-500 text-lg italic">Business Manager</h4>
          <p class="text-gray-800">
            Vestibulum finibus orci ac vehicula luctus. Integer vel auctor
            lorem. Fusce molestie metus nisl, vitae suscipit sem vulputate
            ornare. Vivamus eu vehicula metus. Integer vel auctor lorem. Fusce
            molestie metus nisl, vitae suscipit sem vulputate ornare. Vivamus eu
            vehicula metus.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
