---
layout: layout.njk
title: Wellspring Home Services | About
description: Northern Colorado bathroom remodels, kitchen renovations, basement finishes, decks, pergolas, & fences, interior & exterior home painting.
eleventyNavigation:
  key: About
  url: /about/
  order: 1
---

<!-- Hero -->

<header
  {#
  class="bg-[url('./images/kitchen-stove.jpg')] w-full bg-center bg-cover mt-4"
  #}
  {#
  class="bg-[url('./images/portfolio-carousel/prouty-kitchen.jpg')] w-full bg-center bg-cover mt-4"
  #}
  class="bg-[url('./images/team-members/team-hero-2-920w.jpg')] lg:bg-[url('./images/team-members/team-hero-2-1270w.jpg')] xl:bg-[url('./images/team-members/team-hero-2-1760w.jpg')] 2xl:bg-[url('./images/team-members/team-hero-2.JPEG')] bg-blur-sm w-full bg-center bg-cover mt-4"
>
  <div
    class="py-20 px-4 mx-auto max-w-screen-xl text-center lg:py-32 lg:px-12 xl:py-38"
  >
    <div class="bg-white rounded bg-opacity-0 pb-2">
      <h1
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-slate-800 md:text-5xl lg:text-6xl pt-3 opacity-0"
      >
        About Wellspring
      </h1>
    </div>
  </div>
</header>
<main class="bg-orange-500 pb-8 pt-8 px-2">
  <!--mt-4-->
  <div class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
    <h1 class="mt-2">About Wellspring</h1>
    <article class="xl:mb-14 mb-2 relative overflow-auto md:px-[15%]">
      <h2 class="mt-2">Our Story</h2>
      <div class="sm:float-right ml-0 mb-4 sm:mb-0 sm:ml-6 mt-4 sm:mt-2">
        <div class="relative w-auto sm:w-72">
          {# w-56 #}
          <img
            {#
            class="xsImage mx-auto p-2 h-52"
            #}
            class="object-cover rounded-lg"
            src="../images/team-members/original-3-close-up.jpeg"
            alt="Team photo"
          />
        </div>
      </div>
      <div class="text-justify">
        <p class="text-gray-800">
          Brett Costigan, a native to Northern Colorado, began offering handyman
          services in 2015. In 2016, Brett's son-in-law, Joshua Funk, joined him
          and together they formed Wellspring Home Services. They accomplished
          several major remodels, bathrooms, and paint jobs before being joined
          by Zach Bush to help on a few jobs. After Josh moved to Kansas City,
          Brett invited Zach and (a few months later) Jordan Cox to go full-time
          and also receive daily discipleship in their walks with Jesus Christ,
          while teaching them how to build and remodel.
        </p>
        <br />

        <p class="text-gray-800">
          Formed out of the committed relationships between Brett, Zach, and
          Jordan, Wellspring Home Services transitioned into an established
          company and eventually into shared ownership in 2022.
        </p>
        <br />

        <p class="text-gray-800">
          Throughout the years, Wellspring has been dedicated to quality and
          transparency in remodeling, providing excellent customer service and
          superior work. Now a thriving company with its sights set on
          expansion, the Wellspring team still prioritizes personal connection
          with the homeowners they serve and our name conveys that we strive to
          be a spring of life to both the customers, sub-contractors, employees
          and their families at every interaction!
        </p>

        <br />
        <p class="text-gray-800">
          Wellspring exists out of a desire to serve Northern Colorado, provide
          for our families, and strategically help those in need, particualrly
          families within Cloverleaf Community mobile home park where Brett and
          Jordan have chosen to live.
        </p>
      </div>
    </article>
    <article class="xl:mb-14 mb-2 md:px-[15%]">
      <h2 class="mt-2">Meet the Team</h2>
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-4 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            {# w-56 #}
            <img
              {#
              class="xsImage mx-auto p-2 h-52"
              #}
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/costigan-fam-md.jpg"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">
            Brett Costigan
          </h3>
          <h4 class="text-gray-500 text-lg italic">Founder & CEO</h4>
          <p class="text-gray-800">
            Brett has been building his whole life -- starting with treehouses
            when he was a kid and, later on, remodeling his own houses. After
            serving as a pastor for many years, Brett started Wellspring as a
            means to train young people in building skills while also training
            them spiritually as disciples of Jesus Christ. For the past several
            years, Brett and his wife, Michelle, along with their daughter,
            Gracie, have been laying the foundation of a ministry oriented
            toward loving their neighbors while living in a Fort Collins mobile
            home park, Cloverleaf Community.
          </p>
        </div>
      </div>
      <hr class="mt-4 mb-2" />
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-6 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            {# w-56 #}
            <img
              {#
              class="xsImage mx-auto p-2 h-52"
              #}
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/zach_bush-md.JPG"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">Zach Bush</h3>
          <h4 class="text-gray-500 text-lg italic">
            Construction Project Manager
          </h4>
          <p class="text-gray-800">
            Zach is a third-generation Colorado native who has grown up in Fort
            Collins. He has been in the trades most of his working career,
            either as a craftsman or manager. He oversees the construction
            projects and is training to be a licensed general contractor. Even
            with his skills in building, his true passion lies with
            relationship-building and discipleship in the workplace. He is
            happily married and they have a beautiful baby boy.
          </p>
        </div>
      </div>
      <hr class="mt-4 mb-2" />
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-6 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            <img
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/ben_houle-md.JPG"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">Ben Houle</h3>
          <h4 class="text-gray-500 text-lg italic">Craftsman</h4>
          <p class="text-gray-800">
            Ben is not only a skilled crasftman but also a devoted family man.
            With a deep love for his wife and two boys, family values are at the
            heart of everything he does. When he's not bringing dream homes to
            life, you can find Ben exploring the breathtaking landscapes of
            Colorado with his loved ones, soaking in the beauty of the outdoors,
            and creating memories that last a lifetime.
          </p>
        </div>
      </div>
      <hr class="mt-4 mb-2" />
      <div class="relative overflow-auto mb-6">
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-6 sm:mt-4 sm:mr-6">
          <div class="relative w-auto sm:w-72">
            <img
              class="object-cover aspect-square rounded-lg"
              src="../images/team-members/jordan_cox.jpg"
              alt="Team photo"
            />
          </div>
        </div>
        <div class="text-justify">
          <h3 class="text-gray-800 mt-2 text-xl font-semibold">Jordan Cox</h3>
          <h4 class="text-gray-500 text-lg italic">Business Manager</h4>
          <p class="text-gray-800">
            Jordan is a veteran of the Colorado Army National Guard, where he
            served in a military police unit for six years, and has been a part
            of Wellspring since 2019. Starting out as a craftsman, Jordan began
            taking on administrative responsibilities for Wellspring in 2022. He
            now performs business management tasks for Wellspring part-time --
            although he is still deeply invested as a part-owner along with
            Brett and Zach -- and is working as a freelance software developer
            full-time. Recently married, Jordan and his wife, Katherine, live in
            Fort Collins and participate in the ministry the Costigan family
            founded.
          </p>
        </div>
      </div>
    </article>
  </div>

  <!-- Ready to get started? -->
  <section class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded mt-8">
    <h2 class="mt-2">Ready to Start Your Project?</h2>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center mb-4">
      <div class="text-center mt-6 sm:me-8 sm:mb-0 mb-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="inline-block me-2 text-orange-600 h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
          />
        </svg>
        <span class="text-xl font-semibold text-slate-800"
          ><a href="tel:9703449607">(970) 344-9607</a></span
        >
      </div>
      <div class="text-center">
        <a
          href="/contact"
          class="inline-flex justify-center items-center py-3 px-5 hover:text-slate-800 bg-orange-700 rounded hover:ring-slate-800 ring-1 ring-gray-50 font-semibold text-gray-50"
          id="getStarted"
          >Fill Out Contact Form</a
        >
      </div>
    </div>
  </section>
</main>
