---
layout: layout.njk
title: Wellspring Home Services | Contact
description: Contact Wellspring for a quote for your home remodeling project
eleventyNavigation:
  key: Contact
  url: /contact/
  order: 5
---

<section class="bg-orange-500 pb-8 pt-8 mt-4 px-2">
  <div class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
    <h1 class="mt-2 mb-6">Contact Us</h1>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-4 mb-3">
      <div class="col-span-2">
        <form
          method="post"
          name="form"
          id="form"
          accept-charset="UTF-8"
          enctype="multipart/form-data"
          data-netlify-recaptcha="true"
          netlify
        >
          <!-- Create a "Thank you for submitting" page -->
          <p class="text-gray-600 mb-3 mt-3">Contact Details</p>
          <div class="grid gap-6 mb-0 md:grid-cols-2">
            <div>
              <label
                for="first_name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >First name <span class="text-red-600">*</span></label
              >
              <input
                type="text"
                id="first_name"
                name="Name_First"
                maxlength="255"
                fieldType="7"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                placeholder="John"
                required
              />
            </div>
            <div>
              <label
                for="last_name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Last name <span class="text-red-600">*</span></label
              >
              <input
                type="text"
                id="last_name"
                maxlength="255"
                name="Name_Last"
                fieldType="7"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                placeholder="Doe"
                required
              />
            </div>
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Email <span class="text-red-600">*</span></label
              >
              <input
                type="email"
                id="email"
                name="Email"
                fieldType="9"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                placeholder="john.doe@company.com"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="phone"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Phone <span class="text-red-600">*</span></label
              >
              <input
                type="tel"
                id="phone"
                name="Phone"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                placeholder="(123) 456-7890"
                pattern="(?:\(\d{3}\)\s?\d{3}-\d{4}|\d{10})"
                onkeydown="formatPhoneNumber(event)"
                value=""
                required
              />
            </div>
          </div>
          <div class="mb-6">
            <p class="text-gray-600 mb-3 mt-3">Address</p>
            <label
              for="Address_AddressLine1"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Street Address <span class="text-red-600">*</span></label
            >
            <input
              type="text"
              id="Address_AddressLine1"
              name="Address_AddressLine1"
              maxlength="255"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
              placeholder="123 Main St."
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="Address_AddressLine2"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Address Line 2</label
            >
            <input
              type="text"
              id="Address_AddressLine2"
              name="Address_AddressLine2"
              maxlength="255"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
              placeholder="Apt. 2"
            />
          </div>
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label
                for="Address_City"
                class="block mb-2 text-sm font-medium text-gray-900"
                >City <span class="text-red-600">*</span></label
              >
              <input
                type="text"
                id="Address_City"
                name="Address_City"
                maxlength="255"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                required
              />
            </div>
            <div>
              <label
                for="Address_Region"
                class="block mb-2 text-sm font-medium text-gray-900"
                >State <span class="text-red-600">*</span></label
              >
              <input
                type="text"
                id="Address_Region"
                name="Address_Region"
                maxlength="255"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                required
              />
            </div>
            <div>
              <label
                for="Address_ZipCode"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Postal / Zip Code <span class="text-red-600">*</span></label
              >
              <input
                type="text"
                id="Address_ZipCode"
                name="Address_ZipCode"
                maxlength="255"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                required
              />
            </div>
            <div class="mb-3">
              <label
                for="country"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Country <span class="text-red-600">*</span></label
              >
              <select
                id="country"
                name="Address_Country"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
                required
              >
                <option value="-Select-">-Select-</option>
                <option value="United State">United States</option>
              </select>
            </div>
          </div>
          <div class="mb-6">
            <p class="text-gray-600 mb-3 mt-3">Tell Us About Your Project</p>
            <label
              for="Dropdown"
              class="block mb-2 text-sm font-medium text-gray-900"
              >How did you hear about us?</label
            >
            <select
              id="Dropdown"
              name="Dropdown"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
            >
              <option value="-Select-">-Select-</option>
              <option value="Google">Google</option>
              <option value="Facebook">Facebook</option>
              <option value="BBB">BBB</option>
              <option value="Word-of-mouth&#x20;referral">
                Word-of-mouth referral
              </option>
              <option value="Magazine&#x20;ad">Magazine ad</option>
              <option value="">Other</option>
            </select>
          </div>
          <div class="mb-6">
            <label
              for="Dropdown1"
              class="block mb-2 text-sm font-medium text-gray-900"
              >What kind of work do you need done?
              <span class="text-red-600">*</span></label
            >
            <select
              id="Dropdown1"
              name="Dropdown1"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-600 focus:border-orange-600 focus:border-1 block w-full p-2.5"
              required
            >
              <option selected="true" value="-Select-">-Select-</option>
              <option value="Basement&#x20;Finish">Basement Finish</option>
              <option value="Kitchen&#x20;&#x2f;&#x20;Bathroom&#x20;Remodel">
                Kitchen &#x2f; Bathroom Remodel
              </option>
              <option value="Deck,&#x20;Pergola,&#x20;or&#x20;Fence">
                Deck, Pergola, or Fence
              </option>
              <option value="Painting">Painting</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="mb-6">
            <label
              for="MultiLine"
              class="block mb-2 text-sm font-medium text-gray-900"
              >What else should we know about your project?
              <span class="text-red-600">*</span></label
            >
            <textarea
              id="MultiLine"
              name="MultiLine"
              maxlength="65535"
              placeholder="Please be as detailed as possible."
              class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-orange-600 focus:border-orange-600 focus:border-1"
            ></textarea>
          </div>
          <div data-netlify-recaptcha="true" class="mb-6"></div>
          <button
            type="submit"
            class="py-2 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold hover:text-orange-600 w-full sm:w-fit"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="mx-auto mt-4">
        <div class="text-center md:text-left">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="lg:w-5 lg:h-5 md:h-4 md:w-4 inline-block lg:me-2 md:me-0 me-2 text-orange-600 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
            />
          </svg>
          <span
            class="xl:text-lg lg:text-base md:text-xs text-sm font-semibold text-slate-800"
            ><a href="tel:9703449607">(970) 344-9607</a></span
          >
        </div>
        <br />
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="lg:w-5 lg:h-5 md:h-4 md:w-4 inline-block lg:me-2 md:me-0 me-2 text-orange-600 h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
            />
          </svg>
          <span
            class="xl:text-lg lg:text-base md:text-xs text-sm font-semibold text-slate-800"
            ><a href="mailto:info@wellspringhomeservices.com"
              >info@wellspringhomeservices.com</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</section>
