---
layout: layout.njk
title: Wellspring Home Services - Quality & Transparency
eleventyNavigation:
  key: Home
  url: /
  order: 0
---

<!-- Hero -->
<section
  class="bg-[url('./images/kitchen-stove.jpg')] w-full bg-center bg-cover mt-4"
>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <div class="bg-white rounded bg-opacity-75 mt-8">
      <h1
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-slate-800 md:text-5xl lg:text-6xl pt-3"
      >
        A Company That Builds to Last
      </h1>
      <p
        class="mb-8 text-lg font-normal text-orange-500 lg:text-xl sm:px-16 xl:px-48 pb-4"
      >
        Fort Collins-based interior and exterior home remodeling contractor.
      </p>
    </div>
    <div
      class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      <a
        href="/services"
        class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold"
        >Our Services</a
      >
      <a
        href="/contact"
        class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold"
        >Get Started</a
      >
    </div>
  </div>
</section>
<!-- Who We Are -->
<section class="bg-orange-500 py-8 px-8">
  <div class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
    <h1 class="mt-2">Our Story</h1>
    <p>
      Wellspring began in 2015 ... Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum finibus orci ac vehicula luctus. Integer vel
      auctor lorem. Fusce molestie metus nisl, vitae suscipit sem vulputate
      ornare. Vivamus eu vehicula metus. Mauris dapibus augue orci, vel ornare
      ligula tempus vel. Proin vehicula ut massa eu tincidunt. Cras vitae nulla
      et est feugiat laoreet at a eros. Aenean sed massa quis erat blandit
      interdum. Cras consectetur elit et congue commodo. Fusce vel augue non
      ligula aliquam pulvinar ac a sapien. Aenean sagittis magna in urna
      venenatis, vel ullamcorper massa sagittis. Mauris ac lacus consequat,
      dictum nisl pulvinar, tempor purus.
    </p>
    <div class="flex flex-col sm:flex-row sm:justify-center">
      <a
        href="/about"
        class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold mt-5 mb-3"
        >Read More</a
      >
    </div>
  </div>
</section>

<!-- What Previous Customers are Saying -->

<!-- Ready to Make Your Dream Project Come True?-->
