---
layout: layout.njk
title: Wellspring Home Services - Quality & Transparency
description: Northern Colorado bathroom remodels, kitchen renovations, basement finishes, decks, pergolas, & fences, interior & exterior home painting.
eleventyNavigation:
  key: Home
  url: /
  order: 0
---

<!-- Hero -->

<header
  {#
  class="bg-[url('./images/kitchen-stove.jpg')] w-full bg-center bg-cover mt-4"
  #}
  {#
  class="bg-[url('./images/portfolio-carousel/prouty-kitchen.jpg')] w-full bg-center bg-cover mt-4"
  #}
  class="bg-[url('./images/responsive-img/dewey-beam-2-920w.jpg')] lg:bg-[url('./images/responsive-img/dewey-beam-2-1270w.jpg')] xl:bg-[url('./images/responsive-img/dewey-beam-2-1810w.jpg')] 2xl:bg-[url('./images/responsive-img/dewey-beam-2-2048w.jpg')] bg-blur-sm w-full bg-center bg-cover mt-4"
>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <div class="bg-white rounded bg-opacity-75 mt-8">
      <h1
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-slate-800 md:text-5xl lg:text-6xl pt-3"
      >
        A Company That Builds to Last
      </h1>
      <p
        class="mb-8 text-lg font-normal text-orange-600 lg:text-xl sm:px-16 xl:px-48 pb-4"
      >
        Fort Collins-based interior and exterior home remodeling contractor.
      </p>
    </div>
    <div
      class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      <a
        href="#services"
        class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold"
        >Our Services</a
      >
      <a
        href="/contact"
        class="inline-flex justify-center items-center py-3 px-5 hover:text-slate-800 bg-orange-700 rounded hover:ring-slate-800 ring-1 ring-gray-50 font-semibold text-gray-50"
        id="getStarted"
        >Get Started</a
      >
    </div>
  </div>
</header>

<main>
  <!-- Featured in -->
  <section class="bg-orange-500 pt-8 px-2">
    <div class="flex flex-wrap justify-evenly">
      <a href="https://maps.app.goo.gl/ij4wZngcXTpY7KXL9" target="_blank"
        ><img
          src="/images/google-icon.png"
          class="md:h-20 sm:h-16 h-12"
          alt="Wellspring Home Services Google Business Page"
      /></a>
      {#
      <a
        href="https://www.bbb.org/us/co/fort-collins/profile/remodel-contractors/wellspring-home-services-llc-0805-46140438/#sealclick"
        target="_blank"
        rel="nofollow"
        ><img
          src="https://seal-wynco.bbb.org/seals/blue-seal-200-42-bbb-46140438.png"
          alt="Wellspring Home Services, LLC BBB Business Review"
      /></a>
      #}
      <a
        href="https://www.bbb.org/us/co/fort-collins/profile/remodel-contractors/wellspring-home-services-llc-0805-46140438/#sealclick"
        target="_blank"
        rel="nofollow"
        ><img
          src="/images/bbb-2.png"
          alt="Wellspring Home Services, LLC BBB Business Review"
          class="md:h-20 sm:h-16 h-12 inline-block"
      /></a>
      <a href="https://www.facebook.com/wellspringhome/" target="_blank"
        ><img
          src="/images/Facebook_Logo_Primary.png"
          class="md:h-20 sm:h-16 h-12"
          alt="Wellspring Home Services Facebook Business Page"
      /></a>
    </div>
  </section>

  <!-- Who We Are -->
  <section class="bg-orange-500 py-8 px-2">
    <div
      class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded text-justify"
    >
      <h1 class="mt-2">Our Story</h1>
      <p class="text-gray-800">
        {{ about.ourStorySnippet }}
      </p>
      <div class="flex flex-col sm:flex-row sm:justify-center">
        <a
          href="/about"
          class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold mt-5 mb-3"
          >Read More</a
        >
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="bg-orange-500 pb-8">
    <div class="mx-auto bg-transparent">
      <div
        id="controls-carousel"
        class="relative w-full my-0"
        data-carousel="slide"
      >
        <!-- Carousel wrapper -->
        <div
          class="relative h-[15rem] overflow-hidden lg:h-[44rem] md:h-[36rem] sm:h-[26rem]"
        >
          <!-- Populate carousel -->
          {% for item in homeCarousel %}
          <div class="hidden duration-[2000ms] ease-in-out" data-carousel-item>
            <a href="/portfolio">
              <img
                srcset="
                  ../images/responsive-img/{{item}}-480w.jpg   480w,
                  ../images/responsive-img/{{item}}-920w.jpg   920w,
                  ../images/responsive-img/{{item}}-1270w.jpg 1270w,
                  ../images/responsive-img/{{item}}-1400w.jpg 1400w,
                  ../images/responsive-img/{{item}}-1760w.jpg 1760w,
                  ../images/responsive-img/{{item}}-2048w.jpg 2048w
                "
                src="../images/responsive-img/{{ item }}-920w.jpg"
                sizes="100vw"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
              />
            </a>
          </div>
          {% endfor %}
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
  </section>

  <!-- Our Services -->
  <section class="bg-orange-500 pb-8 px-2" id="services">
    <div
      class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded text-justify"
    >
      <h1 class="mt-2 mb-6">Our Services</h1>
      <div class="flex flex-wrap justify-evenly gap-y-8 mb-4">
        {% for service in ourServices %}
        <!-- Service Card -->
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex-auto"
        >
          <a href="#">
            <img
              class="rounded-t-lg"
              src="../images/{{ service.image }}"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="{{ service.url }}">
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-slate-800">
                {{ service.title }}
              </h2>
            </a>
            <p class="mb-3 font-normal text-gray-800">
              {{ service.content }}
            </p>
            <div class="flex flex-col sm:flex-row sm:justify-center">
              <a
                href="{{ service.url }}"
                class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold mt-5 mb-3"
                >Learn More</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- What Previous Customers are Saying -->
  <section class="bg-orange-500 pb-8 px-2">
    <div class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
      <h1 class="mt-2">What Customers Are Saying</h1>
      <div
        id="indicators-carousel"
        class="relative w-full"
        data-carousel="static"
      >
        <!-- Carousel wrapper -->
        <div
          class="relative overflow-x-hidden overflow-y-scroll scrollbar-hide rounded-lg sm:py-32 md:py-40 py-56"
        >
          <!-- Item 1 -->
          {% for item in testimonials %}
          <div
            class="hidden duration-700 ease-in-out sm:px-32 px-8 content-center lg:py-16 py-4"
            data-carousel-item="active"
          >
            <p class="content-center italic text-xl text-gray-800">
              {{ item.text }}
            </p>
            <p class="mt-3 text-gray-800 font-semibold">- {{ item.name }}</p>
          </div>
          {% endfor %}
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 start-0 z-30 flex items-center justify-center h-full sm:px-4 px-0 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex items-center justify-center h-full sm:px-4 px-0 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
      <div class="flex flex-col sm:flex-row sm:justify-center">
        <a
          href="/testimonials"
          class="inline-flex justify-center items-center py-3 px-5 text-base bg-gray-50 rounded ring-1 ring-slate-800 hover:ring-1 hover:ring-orange-600 font-semibold mt-5 mb-3"
          >See All Testimonials</a
        >
      </div>
    </div>
  </section>
</main>
<!-- Ready to Make Your Dream Project a Reality?-->
