---
layout: layout.njk
title: Wellspring Home Services | Portfolio
description: Northern Colorado bathroom remodels, kitchen renovations, basement finishes, decks, pergolas, & fences, interior & exterior home painting.
eleventyNavigation:
  key: Portfolio
  url: /portfolio/
  order: 3
---

<!-- Hero -->

<header
  {#
  class="bg-[url('./images/kitchen-stove.jpg')] w-full bg-center bg-cover mt-4"
  #}
  {#
  class="bg-[url('./images/portfolio-carousel/prouty-kitchen.jpg')] w-full bg-center bg-cover mt-4"
  #}
  class="bg-[url('./images/portfolio-carousel/prouty-kitchen.jpg')] lg:bg-[url('./images/responsive-img/prouty-kitchen-1270w.jpg')] xl:bg-[url('./images/responsive-img/prouty-kitchen-1810w.jpg')] 2xl:bg-[url('./images/responsive-img/prouty-kitchen-2048w.jpg')] bg-blur-sm w-full bg-center bg-cover mt-4"
>
  <div
    class="py-20 px-4 mx-auto max-w-screen-xl text-center lg:py-32 lg:px-12 xl:py-38"
  >
    <div class="bg-white rounded bg-opacity-75 pb-2">
      <h1
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-slate-800 md:text-5xl lg:text-6xl pt-3"
      >
        Portfolio
      </h1>
    </div>
  </div>
</header>

<main class="bg-orange-500 pb-8 pt-8 px-2">
  <section class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded mt-0">
    <h1>Featured Projects</h1>
    <p>carousel here</p>
    <h1>Gallery</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      {% for arr in resizedPortfolioGallery %}
      <div>
        <img
          data-modal-target="default-modal"
          data-modal-toggle="default-modal"
          class="h-auto max-w-full object-cover rounded-lg aspect-[4/3] hover:cursor-pointer hover:shadow-md"
          srcset="
          {% for item in arr %}
          ..{{item}},
          {%endfor%}
          "
          src="{{ arr[arr.length - 1] }}"
          sizes="(min-width: 1540px) 445px, (min-width: 1280px) 430px, (min-width: 1040px) 300px, calc(50vw - 48px)"
          alt=""
        />
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Ready to get started? -->
  <section class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded mt-8">
    <!--mt-8 needs added when content is above-->
    <h2 class="mt-2">Ready to Start Your Project?</h2>
    <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center mb-4">
      <div class="text-center mt-6 sm:me-8 sm:mb-0 mb-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="inline-block me-2 text-orange-600 h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
          />
        </svg>
        <span class="text-xl font-semibold text-slate-800"
          ><a href="tel:9703449607">(970) 344-9607</a></span
        >
      </div>
      <div class="text-center">
        <a
          href="/contact"
          class="inline-flex justify-center items-center py-3 px-5 hover:text-slate-800 bg-orange-700 rounded hover:ring-slate-800 ring-1 ring-gray-50 font-semibold text-gray-50"
          id="getStarted"
          >Fill Out Contact Form</a
        >
      </div>
    </div>
  </section>
</main>

<!-- Lightbox -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Terms of Service
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          With less than a month to go before the European Union enacts new
          consumer privacy laws for its citizens, companies around the world are
          updating their terms of service agreements to comply.
        </p>
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          The European Union’s General Data Protection Regulation (G.D.P.R.)
          goes into effect on May 25 and is meant to ensure a common set of data
          rights in the European Union. It requires organizations to notify
          users as soon as possible of high-risk data breaches that could
          personally affect them.
        </p>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="default-modal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          I accept
        </button>
        <button
          data-modal-hide="default-modal"
          type="button"
          class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Decline
        </button>
      </div>
    </div>
  </div>
</div>
