---
layout: layout.njk
title: Wellspring Home Services | Services
eleventyNavigation:
  key: Services
  url: /services/
  order: 2
---

<!-- Hero -->

<header
  {#
  class="bg-[url('./images/kitchen-stove.jpg')] w-full bg-center bg-cover mt-4"
  #}
  {#
  class="bg-[url('./images/portfolio-carousel/prouty-kitchen.jpg')] w-full bg-center bg-cover mt-4"
  #}
  class="bg-[url('./images/responsive-img/gossard-kitchen-1-920w.jpg')] lg:bg-[url('./images/responsive-img/gossard-kitchen-1-1270w.jpg')] xl:bg-[url('./images/responsive-img/gossard-kitchen-1-1760w.jpg')] 2xl:bg-[url('./images/responsive-img/gossard-kitchen-1-2048w.jpg')] bg-blur-sm w-full bg-center bg-cover mt-4"
>
  <div
    class="py-20 px-4 mx-auto max-w-screen-xl text-center lg:py-32 lg:px-12 xl:py-38"
  >
    <div class="bg-white rounded bg-opacity-75 pb-2">
      <h1
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-slate-800 md:text-5xl lg:text-6xl pt-3"
      >
        Services
      </h1>
    </div>
  </div>
</header>

<main class="bg-orange-500 pb-8 pt-8 px-2">
  <section class="container mx-auto bg-gray-50 p-4 sm:px-12 px-8 rounded">
    <article class="xl:mb-14 mb-2">
      <div class="relative overflow-auto mb-6">
        <h2
          class="text-gray-800 lg:mt-2 mt-4 font-semibold text-left"
          id="home-remodeling"
        >
          Home Remodeling
        </h2>
        <div class="sm:float-left ml-0 mb-4 sm:mb-0 mt-4 sm:mt-4 sm:mr-6">
          <div class="relative w-auto lg:w-72">
            {# w-56 #}
            <img
              {#
              class="xsImage mx-auto p-2 h-52"
              #}
              class="object-cover lg:aspect-square aspect-auto rounded-lg mb-4"
              src="../images/home-interior.jpg"
              alt="Home remodeling"
            />
          </div>
        </div>
        <div class="text-justify">
          {#
          <h2
            class="text-gray-800 lg:mt-2 mt-4 font-semibold text-left"
            id="home-remodeling"
          >
            Home Remodeling
          </h2>
          #}
          <p class="text-gray-800 lg:mt-4">
            Wellspring specializes in a variety of home remodeling services,
            from small alterations -- like changing out your windows -- to
            whole-house remodeling projects, basement finishes, and kitchen
            remodels.
          </p>
          <div class="sm:grid sm:grid-cols-2">
            <div>
              <h3 class="text-gray-800 text-xl mt-2 font-semibold">
                Small-Scale Projects
              </h3>
              <ul class="text-gray-800 mt-2 list-disc list-inside text-left">
                <li>Window & door replacements</li>
                <li>Trim installation</li>
                <li>Backplash installation</li>
                <li>Bathroom & kitchen tile installation</li>
                <li>Countertop replacements</li>
                <li>Cabinet installation</li>
                <li>Custom carpentry</li>
                <li>Cosmetic updates</li>
              </ul>
            </div>
            <div>
              <h3 class="text-gray-800 text-xl mt-2 font-semibold">
                Large-Scale Projects
              </h3>
              <ul class="text-gray-800 mt-2 list-disc list-inside text-left">
                <li>Bathroom remodels</li>
                <li>Trim installation</li>
                <li>Countertop replacements</li>
                <li>Cabinet installation</li>
                <li>Cosmetic updates</li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>

{# - Home Remodeling - Interior and Exterior Painting - Whole house painting
(inside and out) - Trim painting - Deck / fence staining or painting - - Decks,
Pergolas, & Fences - Have a project in mind that you don't see here? Leave us a
message! If it's something we don't do, we can connect you with the right people
for the job. #}
