---
layout: layout.njk
title: Wellspring Home Services | Testimonials
eleventyNavigation:
  key: Testimonials
  url: /testimonials/
  order: 4
---

<!-- Hero -->

<header
  {#
  class="bg-[url('./images/kitchen-stove.jpg')] w-full bg-center bg-cover mt-4"
  #}
  {#
  class="bg-[url('./images/portfolio-carousel/prouty-kitchen.jpg')] w-full bg-center bg-cover mt-4"
  #}
  class="bg-[url('./images/responsive-img/ludy-fence-920w.jpg')] lg:bg-[url('./images/responsive-img/ludy-fence-1270w.jpg')] xl:bg-[url('./images/responsive-img/ludy-fence-1760w.jpg')] 2xl:bg-[url('./images/responsive-img/ludy-fence-2048w.jpg')] bg-blur-sm w-full bg-center bg-cover mt-4"
>
  <div
    class="py-20 px-4 mx-auto max-w-screen-xl text-center lg:py-32 lg:px-12 xl:py-38"
  >
    <div class="bg-white rounded bg-opacity-75 pb-2">
      <h1
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-slate-800 md:text-5xl lg:text-6xl pt-3"
      >
        Testimonials
      </h1>
    </div>
  </div>
</header>
